<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student registration form</title>
</head>
<body>

	<h3>Student Registration Form</h3>

	<form th:action="@{/processStudentForm}" th:object="${student}"
		method="POST">

		FirstName : <input type="text" th:field="*{firstName}" /> <br /> <br />
		LastName : <input type="text" th:field="*{lastName}" /> <br /> <br />
		Country : <select th:field="*{country}">
			<option th:each="c : ${country}" th:value="${c}" th:text="${c}"></option>
		</select> 
		
		<br /> <br /> 
		Languages:
		<!-- 		<input type="radio" th:field="*{favLanguage}" th:value="Java"> Java </input>
		<input type="radio" th:field="*{favLanguage}" th:value="C">C</input>
		<input type="radio" th:field="*{favLanguage}" th:value="Python">Python</input>
		<input type="radio" th:field="*{favLanguage}" th:value="JS">JS</input> -->


		<input type="radio" th:field="*{favLanguage}"
			th:each="favLang : ${favLanguage}" th:value="${favLang}"
			th:text="${favLang}" />
			
		<br /> <br />
		 
		<input type="submit"
			value="Submit" />

	</form>

</body>
</html>